@model SystemMonitorowaniaWydatkowDomowych.Models.Wydatek

<h1>Usuń wydatek</h1>

<p>Czy na pewno chcesz usunąć ten wydatek?</p>

<p><strong>@Model.Opis</strong> - @Model.Kwota zł</p>

<form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
    <button type="submit">Usuń</button>
    <a asp-action="Index">Anuluj</a>
</form>



